Resources/base_embeddings.json filter=lfs diff=lfs merge=lfs -text
Resources/MTGCardDetector.mlmodel filter=lfs diff=lfs merge=lfs -text
Resources/base_embeddings_progress.json filter=lfs diff=lfs merge=lfs -text
